<header>
	<nav class="navbar navbar-expand-sm bg-light navbar-light">
	  <a class="navbar-brand" href="#"><%= image_tag "cks-logo.png", :class => 'img-fluid' %></a>
	  <ul class="navbar-nav ml-auto">
	    <li class="nav-item">
	      <a class="nav-link" href="#">Home</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#">About Us</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#">Portfolio</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#">Services</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#">Career</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#">Blog</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link btn btn-outline-primary" href="#">Contact Us</a>
	    </li>
	  </ul>
</nav>
</header>

<section>
	<div class="banner-img bg-pro h-100vh" style="background-image: url(#{asset_path 'banner.jpg'})">
		<div class="theme-gradient-transperent h-100vh align-items-center d-flex">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="text-light">
							<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
							<p class="my-5">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
						</div>
						<button type="button" class="btn btn-outline-primary">Primary</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
